@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300;400;500;600;700&family=Maitree:wght@200;300;400;500;600;700&family=Martel:wght@200;300;400;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
}

nav{
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    z-index: 1;
}

img{
  height: 100%;
  padding: 5px;
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
}

nav ul li:hover,
nav ul li a:hover{
  transform: scale(1.2); 
  color: #FDB143;
}

.container{
  width: 100%;
  /* height: 505vh; */
  display: block;
  /* grid-template-columns: 1fr;
  grid-template-rows: 80vh, 50vh, 120vh, 120vh, 120vh, 15vh; */
}

section img{
  width: 25%;
  height: auto;
}

header{
  /* grid-row: 1 / 2;
  grid-column: 1 / 2; */
  padding-top: 70px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Remove this */
}

.header-content{
  max-width: 80%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  /* align-content: center; */
  /* justify-content: center; */
}

.webdev-box{
  /* max-width: 255px; */
  /* max-width: 80%; */
  /* background-color: #FDB143; */
  /* height: fit-content; */
  border-radius: 25px;
  padding: 10px;
}

header h1{
  /* max-width: 50%; */
  font-size: 6.8rem;
  color: #222;
  line-height: 90%;
  text-align: end;
  padding-right: 10px;
}

header h2{
  font-size: 3rem;
  color: #FDB143;
  font-family: "Titillium Web";
  font-weight: 700px;
  font-style: italic;
}

/* NOT SURE with this "i" */
.i{
  color: #FEB246;
  position: relative;
}

.i:before{
  content: "ı";
  color: #222;
  position: absolute;
}

/* ABOUT ME */

.about-me{
  /* grid-row: 2 / 3;
  grid-column: 1 / 2; */
  background-color: #222;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 15px;
  height: 90vh;
}

.about-me h2{
  color: #fff;
  line-height: 24%;
  font-size: 8.5rem;
  font-weight: bold;
  padding-bottom: 100px;
  user-select: none;
}

.about-me .info{
  display: flex;
  justify-content: space-evenly; /* not applying */

}

.about-me .info .info-desc{
  border-radius: 50px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 50%;
  min-width: 400px; /* to be removed */
  min-height: 320px;
  background-color: #fff;
}

.about-me .quote{
  font-family: "Maitree";
  font-size: 5rem;
}

.about-me .info .info-desc p{
  font-family: "Maitree"; /* DRY */
  padding: 25px;
  text-align: center;
  font-size: 1.2rem;
}

.about-me .info .info-personal{
  background-color: #FDB143;
  border-radius: 50px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  min-width: 400px; /* to be removed */
  min-height: 320px;
}

/* SKILLS */

.skills{
  /* grid-row: 3 / 4;
  grid-column: 1 / 2; */
  /* background-color: #666; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills h3{
  font-size: 8rem;
}


/* PROJECTS */

.projects{
  /* grid-row: 4 / 5;
  grid-column: 1 / 2; */
  background-color: #222;
  display: flex;
  justify-content: center;
  height: 120vh;
}

.projects-wrapper{
  /* display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;
  gap: 20px;
  grid-auto-flow: column;
  justify-items:center;
  width: 100%; */

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-evenly; 
  width: 90%;
}

/* .project-bright-future{

  grid-column: 1 /2;
}

.project-pasuyo-center{

  grid-column: 1 /2;
}

.project-e-commerce{

  grid-column: 2 /3;
}
.project-first-aboutme{

  grid-column: 2 /3;
} */

.projects h1{
  font-family: "Maitree";
}

.projects-wrapper > div{
  max-width: 40%;
  min-width: 450px;
  /* background-color: #fff; */
  height: 410px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  place-items: center;

}

.projects-wrapper > div > div > div > h1{
  padding-top: 10px;
}

.projects-wrapper > div > div > div ul li{
  font-size: 12px;
  font-family: "Roboto";
  font-size: 16px;
}

.projects-wrapper > div > div > div ul{
  list-style: none;
  margin-bottom: 10px;
}

.projects-wrapper > div > div > div > a{
  text-decoration: none;
  background-color: #FDB143;
  color: #fff;
  margin-top: 20px;
  font-weight: bold;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
}

.projects-bg{
  background-color: #fff;
  padding:20px;
  border-radius: 20px;
}

.bright-future-info,
.pasuyo-center-info,
.e-commerce-info,
.first-aboutme-info{
  /* display: none; */
  z-index: 1;
}

.project-bright-future .bright-future-info,
.project-pasuyo-center .pasuyo-center-info,
.project-e-commerce .e-commerce-info,
.project-first-aboutme .first-aboutme-info {
  /* height: 0px;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out; */
  transform-origin: 0 100%;
  height: 100px;
  transition: transform .5s;
  transform: scaleY(0);
}
.project-bright-future:hover .bright-future-info,
.project-pasuyo-center:hover .pasuyo-center-info,
.project-e-commerce:hover .e-commerce-info,
.project-first-aboutme:hover .first-aboutme-info {
  /* display: block; */
  transform: scaleY(1);
  /* -webkit-transform: translate(3em, 0);
  -moz-transform: translate(3em, 0);
  -o-transform: translate(3em, 0);
  -ms-transform: translate(3em, 0);
  transform: translate(3em, 0); */
}


/* .project-bright-future img:hover + .bright-future-info,
.project-pasuyo-center img:hover + .pasuyo-center-info,
.project-e-commerce img:hover + .e-commerce-info,
.project-first-aboutme img:hover + .first-aboutme-info{
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  justify-content: center;
  align-content: center;
} */

.projects img{
  width: 80%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* CONTACT */

.contact{
  /* grid-row: 5 / 6;
  grid-column: 1 / 2; */
  background-color: #888;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.contact-container{
  width: 30%;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
}

footer{
  /* grid-row: 6 / 7;
  grid-column: 1 / 2; */
  height: 70px;
  background-color: #444;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
